<ion-header no-border>
  <ion-navbar transparent color="light">
  </ion-navbar>
</ion-header>


<ion-content>
  <div class="auth-form-container">
    <img class="logo" src="assets/img/logo.png" />
    <!-- ******** NUTRITIONIST FOR ********* -->
    <form [formGroup]="nutritionistForm" (ngSubmit)="onSubmit(nutritionistForm.value)" novalidate>

      <ion-item>
        <ion-label color="primary">Email</ion-label>
        <ion-input type="email" formControlName="email"></ion-input>
      </ion-item>
      <div formGroupName="password">
        <ion-item>
          <ion-label color="primary">Password</ion-label>
          <ion-input type="password" formControlName="password"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label color="primary">Confirm Password</ion-label>
          <ion-input type="password" formControlName="confirmPassword"></ion-input>
        </ion-item>
      </div>

      <ion-item>
        <ion-label color="primary">License Number</ion-label>
        <ion-input type="number" formControlName="nutritionistLicenseNum"></ion-input>
      </ion-item>

      <ion-item class="error-message">
        <div *ngFor="let validation of validationMessages.email">
          <p *ngIf="nutritionistForm.get('email').hasError(validation.type) && (nutritionistForm.get('email').dirty || nutritionistForm.get('email').touched)">
            *{{ validation.message }}
          </p>
        </div>
        <div *ngFor="let validation of validationMessages.password">
          <p *ngIf="nutritionistForm.get('password').get('password').hasError(validation.type) && (nutritionistForm.get('password').get('password').dirty || nutritionistForm.get('password').get('password').touched)">
            *{{ validation.message }}
          </p>
        </div>
        <div *ngFor="let validation of validationMessages.confirmPassword">
          <p *ngIf="nutritionistForm.get('password').get('confirmPassword').hasError(validation.type) && (nutritionistForm.get('password').get('confirmPassword').dirty || nutritionistForm.get('password').get('confirmPassword').touched)">
            *{{ validation.message }}
          </p>
        </div>
        <div *ngFor="let validation of validationMessages.nutritionistLicenseNum">
          <p *ngIf="nutritionistForm.get('nutritionistLicenseNum').hasError(validation.type) && (nutritionistForm.get('nutritionistLicenseNum').dirty || nutritionistForm.get('nutritionistLicenseNum').touched)">
            *{{ validation.message }}
          </p>
        </div>
      </ion-item>

      <button ion-button round block color="blue" type="submit" [disabled]="!nutritionistForm.valid">SIGN UP</button>
    </form>
  </div>

</ion-content>