page-login {
    ion-content{
        background: url('../assets/img/waves.png') no-repeat center center fixed;
        background-size: cover;
    }

    .login-header {
        text-align: center;
        margin: auto;
        padding: 10px 5px 0;
        
        h1,h2,h3,h4,h5,h6,p {
            color: rgb(202, 199, 199);        
            text-shadow: 2px 2px 5px rgba(97, 95, 95, 0.6);
        }
    }

    .error-message
    {
      color: #f53d3d;
      font-size: 10px;
    }
    
}
