<ion-content padding [ngStyle]="{'background-image': 'url(' + backgroundImage +')'}">

  <div padding>
    <img class="logo" src="assets/img/logo.gif" />
    <div class="login-header">
      <p>
        <strong>
          SynerOme
        </strong>
        an advanced Artificial Intelligence platform to create
        <em>
          personalized, precision
        </em>
        nutrition care.
      </p>
    </div>
  </div>
  <form id="loginForm" [formGroup]="validationsForm" (ngSubmit)="signIn(validationsForm.value)">
    <ion-grid class="wr-well">
      <ion-row>
        <ion-item>
          <ion-label floating color="primary">Email</ion-label>
          <ion-input [textMask]="emailMask" type="text" formControlName="email"></ion-input>
        </ion-item>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validationMessages.email">
            <div class="error-message" *ngIf="validationsForm.get('email').hasError(validation.type) && (validationsForm.get('email').dirty || validationsForm.get('email').touched)">
              {{ validation.message }}
            </div>
          </ng-container>
        </div>
      </ion-row>
      <ion-row>
        <ion-item>
          <ion-label floating color="primary">Password</ion-label>
          <ion-input type="password" formControlName="password"></ion-input>
        </ion-item>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validationMessages.password">
            <div class="error-message" *ngIf="validationsForm.get('password').hasError(validation.type) && (validationsForm.get('password').dirty || validationsForm.get('password').touched)">
              {{ validation.message }}
            </div>
          </ng-container>
        </div>
      </ion-row>
      <ion-row>
      </ion-row>

      <ion-row>
        <ion-col col-6>
        </ion-col>
        <ion-col col-6>
          <button ion-button round color="light" type="submit" class="login-button" [disabled]="!validationsForm.valid">SIGN IN</button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6>
        </ion-col>
        <ion-col col-6>
          <button ion-button clear type="button" color="dark" class="forgot-button">FORGOT PASSWORD?</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>

  <ion-footer>
    <ion-toolbar class="footer">
      <div (click)="goToSignup()">
        <span>Don't have an account?
          <strong>Sign up here</strong>.</span>
      </div>
    </ion-toolbar>
  </ion-footer>
</ion-content>