page-login {  
  $transparent-white: rgba(255, 255, 255, .6);
    $base-color: rgb(24, 72, 90);
    // Fullscreen centered image background
    ion-content {
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      border-color: transparent;
      
      &:before {
        content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-image: linear-gradient(to bottom right,#000a0f,#054c75);
      opacity: .6; 
      }
    }

    .login-header {
      text-align: center;
      margin: auto;
      padding: 10px 5px 0;
      
      h1,h2,h3,h4,h5,h6,p {
          color: rgb(7, 7, 7);        
          text-shadow: 2px 2px 5px rgba(80, 80, 80, 0.6);
      }
  }

  .error-message
  {
    color: #ec3d3d;
    font-size: 10px;
  }
  

    .scroll-content{
      padding-bottom: 2px !important
    }

    .logo {
        width: 100%;
        max-width: 19em;
        height: auto;
        margin: 0 auto;
        align-content: center;
      }

      .login-header {
        text-align: center;
        margin: auto;
        padding: 10px 5px 0;
        
        h1,h2,h3,h4,h5,h6,p {
            color: rgb(255, 255, 255);        
            text-shadow: 2px 2px 5px rgba(177, 177, 177, 0.6);
        }
      }
    ion-row {
        align-items: center;
        text-align: center;
      }
      ion-col {
        padding: 0 20px;
      }
      ion-label,
      .input-has-focus {
        color: #fff !important;
      }
      ion-item {
        border-radius: 3px !important;
        padding-right: 16px !important;
        margin-bottom: 5px !important;
        color: #fff !important;
        background-color: transparent !important;
        font-size: 0.9em;
      }
      .margin-bottom {
        margin-bottom: 15px !important;
      }
       ::-webkit-input-placeholder {
        color: white !important;
      }
      .item-inner {
        border-bottom: 2px solid white !important;
        box-shadow: none !important;
      }
      //
      .login-button {
        width: 100%;
        max-width: 40rem;
        height: 50px;
        font-size: 1.2em;
        span {
          color: $base-color !important;
        }
        // border: 1px solid #fff;
      }


  .forgot-button {
    float: right;
    color: #fff !important;
    ion-icon {
      padding-left: 10px;
      font-size: 2.2rem;
    }
  }
      // Footer
  ion-footer {
    height: 47px;
  }
  .footer {
    text-align: center;
    background: rgba(255, 255, 255, .06);
    min-height: 47px;
  }
  .footer-md::before {
    border-top: 1px solid $transparent-white;
    background-image: none;
  }
}
