<ion-content padding >
  <div class="login-header">
    <p>
      <strong>
        SynerOme
      </strong>
      an advanced Artificial Intelligence platform to create
      <em>
        personalized, precision
      </em>
      nutrition care.
    </p>
  </div>

  <form id="loginForm" [formGroup]="validationsForm" (ngSubmit)="onSubmit(validationsForm.value)">
    <ion-grid class="wr-well">
      <ion-row>
        <ion-item>
          <ion-label floating color="primary">Email</ion-label>
          <ion-input [textMask]="emailMask" type="text" formControlName="email"></ion-input>
        </ion-item>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validationMessages.email">
            <div class="error-message" *ngIf="validationsForm.get('email').hasError(validation.type) && (validationsForm.get('email').dirty || validationsForm.get('email').touched)">
              {{ validation.message }}
            </div>
          </ng-container>
        </div>
      </ion-row>
      <ion-row>
        <ion-item>
          <ion-label floating color="primary">Password</ion-label>
          <ion-input type="password" formControlName="password"></ion-input>
        </ion-item>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validationMessages.password">
            <div class="error-message" *ngIf="validationsForm.get('password').hasError(validation.type) && (validationsForm.get('password').dirty || validationsForm.get('password').touched)">
              {{ validation.message }}
            </div>
          </ng-container>
        </div>
      </ion-row>
      <ion-row>
      </ion-row>
      <ion-row>
        <button ion-button full type="submit" [disabled]="!validationsForm.valid">Sign In</button>
      </ion-row>
      <ion-row>
        <button ion-button full color="danger" (click)="goToSignup()">
          Register
        </button>
      </ion-row>
    </ion-grid>
  </form>
 
</ion-content>