<ion-header>

  <ion-navbar>
    <ion-title>Create Appointment</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <!-- <ion-card>
    <ion-card-header>
      Select User
    </ion-card-header>
    <ion-list>
      <button ion-item *ngFor="let usr of nutritionistList" (click)="requestTalk(usr)">
        <ion-icon name="person" item-start></ion-icon>
        {{usr.lastName + ' ' + usr.firstName}}
        <ion-icon name="arrow-forward" item-end></ion-icon>
      </button>
    </ion-list>
  </ion-card> -->

  <ion-list radio-group>
    <ion-list-header>
      Nutritionists
    </ion-list-header>

    <ion-item *ngFor="let usr of nutritionistList">
      <ion-label>{{usr.lastName + ' ' + usr.firstName}}</ion-label>
      <ion-radio [value]="usr" (ionSelect)=selectDoctor(usr)></ion-radio>
    </ion-item>
  </ion-list>

  <ion-list>

    <ion-item>
      <ion-label>Start</ion-label>
      <ion-datetime displayFormat="MM/DD/YYYY HH:mm" pickerFormat="MMM D:HH:mm" [(ngModel)]="event.startTime" [min]="minDate"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label>End</ion-label>
      <ion-datetime displayFormat="MM/DD/YYYY HH:mm" pickerFormat="MMM D:HH:mm" [(ngModel)]="event.endTime" [min]="event.startTime"></ion-datetime>

    </ion-item>

    <ion-item>
      <ion-label>All Day?</ion-label>
      <ion-checkbox [(ngModel)]="event.allDay"></ion-checkbox>
    </ion-item>
  </ion-list>

</ion-content>



<ion-footer class="footer">
  <ion-row>
    <ion-col col-6>
      <div>
        <button ion-button round color="danger" (click)="dismiss()">Cancel</button>
      </div>
    </ion-col>
    <ion-col col-6>
      <div>
        <button ion-button round icon-left (click)="requestTalk()" [disabled]="!event.idTo">
          <ion-icon name="checkmark"></ion-icon> Add Event
        </button>
      </div>
    </ion-col>
  </ion-row>
</ion-footer>