page-product-list {   
    .content {
        background-image: linear-gradient(to bottom right, #000a0f, #0a90d8);
    }
    .space{
        margin-top: 10px;
        margin-bottom: 10px;
    }
   
   
}