page-practitioner-conditions {
    .condition-container {
        position: absolute;
        top: 0;
        margin: 10px;
        text-align: justify; //width: 100%;
        //margin: 0 auto;
        z-index: 2;
        .logo {
            width: 70%;
            height: 70%;
            height: auto;
            padding-top: 2vh;
            margin-bottom: 2vh;
        }
        .submit-box {
            margin-top: 10px;
            text-align: center;
        }
    }
}