page-consumer-dashboard {
    ion-icon {
        font-size: 50px;
    }
    h2 {
        font-size: 18px;
    }
    ion-content {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-color: transparent;
        &:before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-image: linear-gradient(to bottom right, #000a0f, #0a90d8);
            opacity: .6;
        }
    }

    ion-modal.inset-modal {
        // transparent black background overlay
        background-color: rgba(0, 0, 0, .5) !important;
        transition: opacity .25s ease-in-out;
        padding: 20vh 10vw;
      }
}