<ion-header>

  <ion-navbar>
    <ion-title>Signup</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding [ngStyle]="{'background-image': 'url(' + backgroundImage +')'}">

  <form class="form" [formGroup]="validationsForm" (ngSubmit)="onSubmit(validationsForm.value)">
    <ion-item>
      <ion-label floating color="primary">Email</ion-label>
      <ion-input [textMask]="emailMask" type="text" formControlName="email"></ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validationMessages.email">
        <div class="error-message" *ngIf="validationsForm.get('email').hasError(validation.type) && (validationsForm.get('email').dirty || validationsForm.get('email').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>
    <div formGroupName="password">
      <ion-item>
        <ion-label floating color="primary">Password</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validationMessages.password">
          <div class="error-message" *ngIf="validationsForm.get('password').get('password').hasError(validation.type) && (validationsForm.get('password').get('password').dirty || validationsForm.get('password').get('password').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>

      <ion-item>
        <ion-label floating color="primary">Confirm Password</ion-label>
        <ion-input type="password" formControlName="confirmPassword"></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validationMessages.confirmPassword">
          <div class="error-message" *ngIf="validationsForm.get('password').get('confirmPassword').hasError(validation.type) && (validationsForm.get('password').get('confirmPassword').dirty || validationsForm.get('password').get('confirmPassword').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>
    </div>
    <ion-row>
      <ion-col col-4></ion-col>
      <ion-col col-4>
        <button ion-button round color="light" type="submit" class="login-button" [disabled]="!validationsForm.valid">SIGN UP</button>
      </ion-col>
      <ion-col col-4></ion-col>
    </ion-row>
  </form>
</ion-content>